@import "tailwindcss";

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
  }

  body {
    @apply antialiased bg-zinc-900 text-zinc-100;
  }
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
}
